@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* pour ne pas changer la taille des élément avec le padding ou autre dans les box w:100px padding:20px 100-20 */
}

body {
  width: 100%;
  height: 100%;
  font-family: "Baloo Da 2";
  font-size: larger;
}

/* Barre de navigation */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 200px;
}

.logo {
  display: flex;
  justify-content: first baseline;
  align-items: flex-start;
  width: 25%;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.navbar {
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
  width: 75%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  & a {
    display: flex;
    /* justify-content: space-between; */
    text-decoration: none;
    list-style: none;
    margin-top: 4%;
    margin-right: 3%;
    font-size: large;
    font-weight: bold;
    color: white;
  }
}

header {
  display: flex;
  justify-content: flex-start;
  background-image: url(../../Nouilles/images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 18%;
  border-image: fill 0 linear-gradient(rgba(244, 241, 241, 0), #ffffff);
}

/* banniere */

.entete {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.titre {
  font-size: xx-large;
  font-weight: bolder;
  font-size: 3rem;
  color: rgb(89, 90, 96);
}

.ban {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ban p {
  display: flex;
  justify-content: center;
  color: rgb(60, 60, 62);
  margin-bottom: 5%;
}

.visit {
  margin-right: 5%;
  margin-right: 100%;
}

& span {
  color: rgb(66, 70, 77);
}

#bouton {
  height: 40px;
  width: 120px;
  margin-left: 31%;
  border-radius: 25px;
  border: none;
  background-color: rgb(105, 90, 166);
  color: white;
}

.man {
  width: 100%;
  display: flex;
  margin-left: 15%;
}

.contenair {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pic img {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 360px;
  width: 360px;
  margin-top: 20%;
}

.texte2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  margin-top: 10%;
  margin-left: 5%;
  /* text-decoration: none; */
}

.about {
  font-size: xx-large;
  font-weight: bolder;
  color: rgb(105, 90, 166);
}

.cv {
  height: 40px;
  width: 180px;
  margin-left: 30%;
  border-radius: 25px;
  border: none;
  margin-top: 2%;
  background-color: white;
  color: rgb(105, 90, 166);
  border: 1px solid rgb(105, 90, 166);
  text-align: center;
  list-style: none;
  text-decoration: none;
  margin-top: 10%;
  margin-left: 5%;
  margin-bottom: 10%;
}

/* services */

.apresBan {
  display: block;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-top: 5%;

  & img {
    height: 60px;
    width: 60px;
  }
}

.sapin {
  border: 2px solid rgb(200, 203, 208);
  padding: 5%;

  & p {
    color: rgb(105, 90, 166);
    font-weight: bold;
  }
}

.divService {
  display: block;
  justify-content: flex-start;
}

.service {
  display: block;
  justify-content: flex-start;
  font-size: xx-large;
  font-weight: bolder;
  color: rgb(105, 90, 166);
}

/* portfolio */

.apresBan2 {
  display: block;
  text-align: center;
  margin-top: 10%;
}

.imagesP {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 3%;

  & img {
    height: 280px;
    width: 280px;
  }
}

.apresBan3 {
  display: block;
  text-align: center;
  margin-top: 10%;
}

.grandeD {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}

.moto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 28%;
  border: 2px solid rgb(200, 203, 208);
  padding: 2%;
  & img {
    height: 60px;
    width: 60px;
  }
}
.mauve {
  color: rgb(105, 90, 166);
  font-size: xx-large;
  font-weight: bolder;
}
.camion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 28%;
  border: 2px solid rgb(200, 203, 208);
  padding: 2%;
  & img {
    height: 60px;
    width: 60px;
  }
}
.fusee {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 28%;
  border: 2px solid rgb(200, 203, 208);
  padding: 2%;
  & img {
    height: 60px;
    width: 60px;
  }
}

#bouton2 {
  height: 40px;
  width: 120px;
  border: none;
  background-color: rgb(105, 90, 166);
  color: white;
  margin-top: 2%;
}
