@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* pour ne pas changer la taille des élément avec le padding ou autre dans les box w:100px padding:20px 100-20 */
}

body {
  width: 100%;
  height: 100%;
  font-family: "Baloo Da 2";
  font-size: larger;
  overflow-x: hidden;
}

/* Barre de navigation */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 200px;
}

.logo {
  display: flex;
  justify-content: first baseline;
  align-items: flex-start;
  width: 25%;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.navbar {
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
  width: 75%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  & a {
    display: flex;
    /* justify-content: space-between; */
    text-decoration: none;
    list-style: none;
    margin-top: 4%;
    margin-right: 3%;
    font-size: large;
    font-weight: bold;
    color: white;
  }
}

header {
  display: flex;
  justify-content: flex-start;
  background-image: url(../../Nouilles/images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 18%;
  border-image: fill 0 linear-gradient(rgba(244, 241, 241, 0), #ffffff);
}

/* banniere */

.entete {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.titre {
  font-size: xx-large;
  font-weight: bolder;
  font-size: 3rem;
  color: rgb(89, 90, 96);
}

.ban {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ban p {
  display: flex;
  justify-content: center;
  color: rgb(60, 60, 62);
  margin-bottom: 5%;
}

.visit {
  margin-right: 5%;
  margin-right: 100%;
}

& span {
  color: rgb(66, 70, 77);
}

#bouton {
  height: 40px;
  width: 120px;
  margin-left: 31%;
  border-radius: 25px;
  border: none;
  background-color: rgb(105, 90, 166);
  color: white;
}

.man {
  width: 100%;
  display: flex;
  margin-left: 15%;
}

.contenair {
  display: flex;
  flex-direction: column;
}

.pic img {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 360px;
  width: 360px;
  margin-top: 20%;
}

.texte2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  margin-top: 10%;
  margin-left: 5%;
  /* text-decoration: none; */
}

.about {
  font-size: xx-large;
  font-weight: bolder;
  color: rgb(105, 90, 166);
}

.cv {
  height: 40px;
  width: 180px;
  margin-left: 30%;
  border-radius: 25px;
  border: none;
  margin-top: 2%;
  background-color: white;
  color: rgb(105, 90, 166);
  border: 1px solid rgb(105, 90, 166);
  text-align: center;
  list-style: none;
  text-decoration: none;
  margin-top: 10%;
  margin-left: 5%;
  margin-bottom: 10%;
}

/* services */

.apresBan {
  display: block;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-top: 5%;

  & img {
    height: 60px;
    width: 60px;
  }
}

.sapin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(200, 203, 208);
  padding: 5%;

  & p {
    color: rgb(105, 90, 166);
    font-weight: bold;
  }
}

.divService {
  display: block;
  justify-content: flex-start;
}

.service {
  display: block;
  justify-content: flex-start;
  font-size: xx-large;
  font-weight: bolder;
  color: rgb(105, 90, 166);
}

/* .flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
}
.sapin {
  width: 10rem;
  height: 10rem;
  padding: 40px;
  overflow: hidden;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  text-align: center;
}
.sapin img {
  width: 60px;
  margin: 10px;
}
.hover:hover {
  position: relative;
  transform: translateY(-15rem);
}
.hover {
  position: relative;
  transition: 1s ease-in-out;
}
.sapin p:first-child {
  font-size: 1.5rem;
  color: #8e7cd6;
  font-weight: bold;
  margin: 10px;
}

.voir {
  position: relative;
  top: 11rem;
} */

/* portfolio */

.apresBan2 {
  display: block;
  text-align: center;
  margin-top: 10%;
}

.grandP {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 3%;

  & img {
    height: 280px;
    width: 280px;
  }
}

.apresBan3 {
  display: block;
  text-align: center;
  margin-top: 10%;
}

.grandeD {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}

.mauve {
  color: rgb(105, 90, 166);
  font-size: xx-large;
  font-weight: bolder;
}

span {
  font-size: larger;
  font-weight: bolder;
  color: black;
}

.moto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 28%;
  border: 2px solid rgb(200, 203, 208);
  padding: 2%;

  & img {
    height: 60px;
    width: 60px;
  }
}

.camion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 28%;
  border: 2px solid rgb(200, 203, 208);
  padding: 2%;

  & img {
    height: 60px;
    width: 60px;
  }
}

.fusee {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 28%;
  border: 2px solid rgb(200, 203, 208);
  padding: 2%;

  & img {
    height: 60px;
    width: 60px;
  }
}

#bouton2 {
  height: 40px;
  width: 120px;
  border: none;
  background-color: rgb(105, 90, 166);
  color: white;
  margin-top: 2%;
}

/* banniere hire me */

.hire {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 120px;
  width: 100%;
  background-color: rgb(105, 90, 166);
  margin-top: 5%;
}

.work {
  display: block;
  justify-content: center;
  width: 50%;

  & p {
    color: black;
    margin-left: 25%;
  }
}

#bouton3 {
  height: 40px;
  width: 120px;
  border: none;
  background-color: white;
  color: black;
  font-weight: bolder;
  font-size: medium;
  border-radius: 5px;
  margin-left: 90%;
}

.apresBan4 {
  display: block;
  text-align: center;
  margin-top: 10%;
}

.test :last-child {
  color: rgb(105, 90, 166);
  font-size: xx-large;
  font-weight: bolder;
}

.flexT {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
  gap: 10%;

  & img {
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-left: -18%;
    margin-top: 2%;
  }
}

.texteF {
  height: 220px;
  width: 400px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  border: 2px solid rgb(200, 203, 208);
  width: 30%;
  text-align: start;
  padding: 3%;

  & p {
    font-size: small;
    text-align: left;
    padding-bottom: 3%;
  }
}

.prenom {
  text-align: left;
  color: rgb(105, 90, 166);
}

/* blog */

.apresBan5 {
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 10%;
}

.divBlog :last-child {
  color: rgb(105, 90, 166);
  font-size: xx-large;
  font-weight: bolder;
}

.cadre {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-top: 5%;
  border: 2px solid rgb(200, 203, 208);

  & img {
    height: 398px;
    width: 400px;
  }
}

.deuxCadres {
  display: block;
  justify-content: center;
  align-content: center;
  margin-left: 15%;
}

.cadre {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 400px;
  width: 80%;
}

.ligne1 {
  display: block;
  justify-content: left;
  margin-top: 2%;

  span {
    color: rgb(89, 90, 96);
    font-weight: lighter;
  }
}

.ligne2 {
  display: block;
  justify-content: left;
  margin-top: 2%;

  span {
    color: rgb(89, 90, 96);
    font-weight: lighter;
  }
}

.left {
  text-align: left;
  margin-left: 3%;
}

div .couleur {
  color: rgb(125, 107, 197);
  margin-right: 75%;
  font-weight: lighter;
}

.preFooter {
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 10%;
}

.comm :last-child {
  color: rgb(105, 90, 166);
  font-size: xx-large;
  font-weight: bolder;
}

/* Prefooter */

.nav2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 5%;
  border-bottom: 2px solid rgb(226, 227, 235);
}

.logo {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  width: 25%;
  color: rgb(105, 90, 166);
  font-size: 2rem;
  font-weight: bold;
}

.navbar2 {
  display: flex;
  justify-content: flex-end;
  margin-left: 20%;
  gap: 10px;

  & a {
    display: flex;
    /* justify-content: space-between; */
    text-decoration: none;
    list-style: none;
    margin-top: 4%;
    margin-right: 3%;
    font-size: large;
    font-weight: bold;
    color: rgb(78, 71, 71);
  }
}

#message {
  height: 150px;
  width: 700px;
  margin-left: 30%;
  margin-top: 3%;
  color: rgb(89, 90, 96);
  padding: 1%;
  font-family: "Baloo Da 2";
  font-size: large;
}

/* .area {
  border-color: 3px solid rgb(24, 43, 150);
} */

#bouton4 {
  height: 40px;
  width: 160px;
  margin-left: 45%;
  border-radius: 5px;
  border: 2px solid rgb(175, 159, 238);
  color: rgb(125, 107, 197);
  background-color: white;
  font-family: "Baloo Da 2";
  margin-top: 5%;
  margin-bottom: 5%;
}

.last {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  margin-top: 5%;
  border-top: 2px solid rgb(226, 227, 235);
}

.copy {
  display: flex;
  /* justify-content: space-evenly; */
  width: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
  gap: 10px;
}

.copyright {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

& img {
  display: flex;
  justify-content: space-evenly;
  width: 40px;
  height: 40px;
}
/* portfolio */

/* .imagesP img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.imgagesP .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(251, 250, 250, 0.8);
  transform: translate(-50%, -50%);
  transition: 0.2s;
  z-index: -1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.anim {
  color: #685aa5;
  font-family: "Baloo Da 2";
  font-size: x-large;
  margin-bottom: 5px;
} */

/* Lorsque hover */
/* .imagesP :hover .overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: none;
  z-index: 1;
} */

/* .imgPortfolio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.imgPortfolio .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(251, 250, 250, 0.8);
  transform: translate(-50%, -50%);
  transition: 0.2s;
  z-index: -1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.txtBleu {
  color: #685aa5;
  font-family: "arlonbold";
  font-size: x-large;
  margin-bottom: 5px;
} */

/* Lorsque hover */

/* .imgPortfolio :hover .overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: none;
  z-index: 1;
} */

/* animation Nav Barre */
/* 
.navbar {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 0 auto;
}

.navbar a {
  width: 100%;
  height: 9px;
  border-radius: 9px;
  background: rgb(105, 90, 166);
  position: absolute;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

a:nth-child(1) {
  top: 0px;
}

a:nth-child(2),
a:nth-child(3) {
  top: 18px;
}

a:nth-child(4) {
  top: 36px;
}

a:nth-child(4) {
  top: 45px;
}

.navbar.open a:nth-child(1),
.navbar.open a:nth-child(2) {
  opacity: 0;
  width: 0;
}

.navbar.open a:nth-child(2) {
  transform: rotate(45deg);
}

.navbar.open a:nth-child(3) {
  transform: rotate(-45deg);
}

.navbar.open a:nth-child(3) {
  transform: rotate(-90deg);
/* } */

/* animation services */

.sapin {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.6s;

  .voir {
    color: black;
  }
}

.carre img {
  width: 100%;
  height: 100%;
  object-fit: cover 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.7s;
}

.layer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  color: black;
  transition: top 0.7s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.sapin:hover .layer {
  top: 0;
}

.layer p {
  font-size: large;
  margin-bottom: 10px;
}

/* animation Portfolio fin */

.grandeP .divImage {
  position: relative;
  overflow: hidden;
  transition: background-color 0.4s ease, opacity 0.3s ease;
}

.grandP .divImage:hover {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.grandeP .divImage .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-family: "baloo bhai2" cursive;
  opacity: 0;
  transition: opacity 0.4s ease;
  text-align: center;
}

.grandeP .divImage:hover .overlay {
  opacity: 1;
}

.grandeP {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding-bottom: 100px;
  padding-top: 30px;
  & img {
    height: 300px;
    width: 300px;
  }
}
/* 
#picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(203, 192, 192, 0.8);
  transform: translate(-50%-50%);
  transition: 0.2s;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h4 {
  color: rgb(105, 90, 166);
  font-family: "Baloo Da 2";
  font-size: large;
  margin-bottom: 5px;
}

#picture:hover .content {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: none;
  z-index: 1;
} */

/* .center {
  display: flex;
  justify-content: center;
}

.porte {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 350px;
  height: 350px;
  position: relative;
  cursor: pointer;
  margin: 20px;
  overflow: hidden;
}

.box img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.content h4 p {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(50%, 50%);
  width: 350px;
  height: 350px;
  background: rgb(136, 165, 220);
  flex-direction: column;
  color: rgb(105, 90, 166);
  clip-path: circle(0% at 50% 50%);
  transition: all 2s;
}

box:hover .content {
  clip-path: circle(100% at 50% 50%);
}

.box:hover img {
  /* filter: blur(10px); */
/* transform: scale(1.1);
}

.content p {
  margin: 10px 0 0 15px;
} */

/* animation services */
/* 
.flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
}

.sapin {
  width: 10rem;
  height: 10rem;
  padding: 40px;
  overflow: hidden;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  text-align: center;
}

.sapin img {
  width: 60px;
  margin: 10px;
}

.sapin:hover {
  position: relative;
  transform: translateY(-15rem);
}

.layer:hover {
  position: relative;
  transition: 1s ease-in-out;
}

p:hover {
  font-size: small;
  color: rgb(105, 90, 166);
  font-weight: bold;
  top: 11rem;
} */

/* @media (max-width: 576px) {
  body {
    width: 100%;
  }

  & nav {
    width: 100%;
    background-size: contain;
  }
} */

@media screen and (max-width: 576px) {
  body {
    margin: 0 auto;
    background-size: contain;
    width: 100%;

    & nav {
      width: 50%;
      height: 120px;
      margin: 0 auto;
      font-size: xx-small;
      background-image: none;
    }

    & .navbar {
      width: 20%;
      font-size: xx-small;
      gap: 10px;

      & a {
        font-size: xx-small;
        font-weight: lighter;
      }
    }
  }
}
/* 
@media (max-width: 768px) {
  header {
    max-width: 80%;
  }

  main {
    padding: 10px;
    font-size: 16px;
  }

  #bouton {
    width: 100%; /* Le bouton prend toute la largeur */
/* padding: 15px;
    font-size: 18px;
  }

  footer {
    font-size: 14px;
    padding: 5px;
  }
}  */
